flask==2.3.2
flask-testing==0.8.1
flask-sqlalchemy==3.0.5
flask-restful==0.3.10
Flask_Login==0.6.2
flask-recaptcha==0.4.2
flask-WTF==1.1.1
flask-mail==0.9.1
email_validator==2.0.0.post2
Werkzeug==2.3.3
pytest==7.4.0
colorthief==0.2.1
requests==2.31.0
WTForms==3.0.1
gunicorn==21.2.0
psycopg2-binary==2.9.6

