<div class="modal fade" id="disclaimer-modal" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title poppins"><i class="bi bi-exclamation-triangle-fill text-warning me-2"></i>Aviso, por favor, leia!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p class="roboto">
          Este não é um site real; You Shop é um projeto demonstrativo que serve como parte do meu portfólio e uma marca
          fictícia incorporada ao <a href="https://micaelmuniz.com">micaelmuniz.com</a>. Os produtos apresentados neste site não são reais.
          <br>
          Este site ainda está em desenvolvimento, portanto, seu conteúdo não representa o produto final. Você pode acessar o
          <a href="https://github.com/micaelmz/you-shop">código-fonte deste site no GitHub</a>. Além disso, recomendo que leia os <a href="/terms-of-service">termos e condições</a>, bem como a <a href="/privacy-policy">política de privacidade</a> do website.
          <br>
          Caso deseje realizar alterações em tempo real, como cadastrar produtos, isso pode ser feito por meio da API,
          cuja documentação está disponível em <a href="/api/docs">youshop.micaelmuniz.com/api/docs</a>.
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>