<script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
<div class="modal fade" id="continue-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fcs-13 roboto" id="exampleModalLabel">Faça login em sua conta</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form style="" method="POST" action="{{ url_for('user.login_post') }}">

        <div class="modal-body pb-0">
          {{ continue_form.hidden_tag() }}
          <div class="form-floating my-1">
            {{ continue_form.email(class="form-control", id="floatingInput", placeholder="name@example.com", readonly=True) }}
            <label for="floatingInput" class="">Endereço de email</label>
          </div>
          <div class="form-floating my-1">
            {{ continue_form.password(class="form-control", id="floatingPassword", placeholder="Password", autofocus=True) }}
            <label for="floatingPassword">Senha</label>
          </div>
          <div class="form-check d-flex align-content-between mt-2 mb-3">
            <label class="form-check-label ms-1" for="flexCheckDefault">
              <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
              Manter conectado
            </label>
            <a href="#" class="text-dark ms-auto me-1">Esqueceu a senha?</a>
          </div>
          <input type="hidden" name="next" value="{{ request.args.get('next') }}">
          <div class="my-1" style="display: flex; justify-content: center;">
            <div class="g-recaptcha" data-theme="light" data-sitekey="6LcdrcAnAAAAALB4tg-_yxPs8xB4ZJEVTQH7yySg"></div>
          </div>

        </div>
        <div class="modal-footer">
          <button class="btn btn-dark w-100 py-2 mt-2" type="submit">Entrar</button>
        </div>
      </form>

    </div>
  </div>
</div>
