<hr>
<div id="footer" class="container-lg">
  <footer class="pt-5">
    <div class="row">
      <div class="col-4 col-md-2 mb-3">
        <h5>Páginas</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Inicio</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Carrinho</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Produtos</a></li>
        </ul>
      </div>

      <div class="col-4 col-md-2 mb-3">
        <h5>Ajuda</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Frete</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Devoluções</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Rastreio</a></li>
        </ul>
      </div>

      <div class="col-4 col-md-2 mb-3">
        <h5>Suporte</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Email</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">WhatsApp</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">FAQs</a></li>
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form>
          <h5>Se inscreva na nossa newsletter</h5>
          <p>Receba novidades diretamente no seu email.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="newsletter1" class="visually-hidden">Endereço de email</label>
            <input id="newsletter1" type="text" class="form-control" placeholder="Endereço de email">
            <button class="btn btn-dark" type="button">Confirmar</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between pt-4 my-2 border-top">
      <p>© 2023 You Shop, Inc. All rights reserved.</p>
      <ul class="list-unstyled d-flex">
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-facebook-f"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-twitter"></i></a></li>
        <li class="ms-3"><a class="link-body-emphasis" href="#"><i class="fab fa-instagram"></i></a></li>
      </ul>
    </div>
  </footer>
</div>