{% extends 'base.html' %}
{% block title %}Política de Privacidade do Website{% endblock %}
{% block extra_style %}
  <style>
      .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
          color: #000000;
          background-color: #d3d3d3;
      }

      .nav-link {
          color: #000000;
      }

      .nav-link:hover {
          color: #555555;
      }
  </style>
{% endblock %}
{% block content %}
  <section>
    <div class="container-lg px-5">
      <div class="row">
        <div class="title-warning roboto text-center mt-4 mb-2">
          <h3>Política de Privacidade</h3>
        </div>
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#list-item-1">Introdução</a>
              <a class="nav-link" href="#list-item-2">Interpretação e Definições</a>
              <a class="nav-link" href="#list-item-3">Coleta e Uso de Seus Dados Pessoais</a>
              <a class="nav-link" href="#list-item-4">Tecnologias de Rastreamento e Cookies</a>
            </nav>
          </nav>
        </div>
        <div class="col-8" style="height: 50vh; overflow-y: scroll">
          <div class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0">
            <h4 id="list-item-1">Introdução</h4>
            <p>
              <i>Última atualização: 23/08/2023</i><br>
              Esta Política de Privacidade descreve nossas políticas e procedimentos em relação à coleta, uso e
              divulgação de suas informações quando você utiliza o Serviço. Ela também informa sobre seus direitos de
              privacidade e como a lei protege você. Nós utilizamos seus dados pessoais para fornecer e melhorar o
              Serviço. Ao utilizar o Serviço, você concorda com a coleta e uso de informações de acordo com esta Política de Privacidade.
            </p>

            <h4 id="list-item-2">Interpretação e Definições</h4>
            <p>
              <strong>Interpretação</strong><br>
              As palavras cuja letra inicial está em maiúscula têm significados definidos sob as seguintes condições. As
              definições a seguir terão o mesmo significado independentemente de aparecerem no singular ou no plural.
              <br>
              <strong>Definições</strong><br>
              Para os fins desta Política de Privacidade:
              <ul>
                <li><strong>Conta</strong>: significa uma conta única criada para acessar nosso Serviço ou partes do nosso
              Serviço.</li>
                <li><strong>Empresa</strong>: refere-se à You Shop.</li>
                <li><strong>Cookies</strong>: são pequenos arquivos que são colocados em seu computador, dispositivo móvel
              ou qualquer outro dispositivo por um site, contendo os detalhes do seu histórico de navegação naquele site.</li>
                <li><strong>País</strong>: refere-se ao Brasil.</li>
                <li><strong>Dispositivo</strong>: significa qualquer dispositivo que pode acessar o Serviço, como um
              computador, um celular ou um tablet digital.</li>
                <li><strong>Dados Pessoais</strong>: quaisquer informações que se relacionem a um indivíduo identificado ou
              identificável.</li>
                <li><strong>Serviço</strong>: refere-se ao Website.</li>
                <li><strong>Prestador de Serviços</strong>: qualquer pessoa física ou jurídica que processe os dados em
              nome da Empresa.</li>
                <li><strong>Dados de Uso</strong>: dados coletados automaticamente pelo uso do Serviço ou pela própria
              infraestrutura do Serviço.</li>
                <li><strong>Website</strong>: refere-se à You Shop, acessível em www.micaelmuniz.com/shop.</li>
                <li><strong>Você</strong>: o indivíduo que acessa ou utiliza o Serviço.</li>
              </ul>
            </p>

            <h4 id="list-item-3">Coleta e Uso de Seus Dados Pessoais</h4>
            <p>
              <h5>Tipos de Dados Coletados</h5>
              <strong>Dados Pessoais</strong><br>
              Ao utilizar nosso Serviço, podemos solicitar que você nos forneça certas informações pessoalmente
              identificáveis que podem ser usadas para entrar em contato ou identificar você. Informações pessoalmente
              identificáveis podem incluir, mas não estão limitadas a:
              <ul>
                <li>Endereço de e-mail</li>
                <li>Primeiro nome e sobrenome</li>
                <li>Endereço, estado, província, código ZIP/Postal, cidade</li>
              </ul>
              <strong>Dados de Uso</strong><br>
              Dados de Uso são coletados automaticamente ao utilizar o Serviço.
              <ul>
                <li>Dados de Uso podem incluir informações como o endereço de Protocolo de Internet do seu Dispositivo (por
              exemplo, endereço IP), tipo de navegador, versão do navegador, as páginas do nosso Serviço que você visita,
              o horário e a data de sua visita, o tempo gasto nessas páginas, identificadores exclusivos do dispositivo e
              outros dados de diagnóstico.</li>
                <li>Ao acessar o Serviço por meio de um dispositivo móvel, podemos coletar automaticamente certas
              informações, incluindo, mas não se limitando a, o tipo de dispositivo móvel que você usa, o ID exclusivo
              do seu dispositivo móvel, o endereço IP do seu dispositivo móvel, o sistema operacional móvel do seu
              dispositivo, o tipo de navegador de Internet móvel que você usa, identificadores exclusivos do dispositivo e
              outros dados de diagnóstico.</li>
                <li>Também podemos coletar informações que o seu navegador envia sempre que você visita nosso Serviço ou
              quando você acessa o Serviço por meio de um dispositivo móvel.</li>
              </ul>
            </p>

            <h4 id="list-item-4">Tecnologias de Rastreamento e Cookies</h4>
            <p>
              Nós utilizamos Cookies e tecnologias de rastreamento semelhantes para acompanhar a atividade em nosso
              Serviço e armazenar certas informações. As tecnologias de rastreamento utilizadas são beacons, tags e
              scripts para coletar e rastrear informações e para melhorar e analisar nosso Serviço. As tecnologias que
              utilizamos podem incluir:
              <br>
              Cookies ou Cookies de Navegador: Um cookie é um pequeno arquivo colocado em seu Dispositivo. Você pode
              instruir seu navegador a recusar todos os Cookies ou a indicar quando um Cookie está sendo enviado. No
              entanto, se você não aceitar Cookies, talvez não consiga usar algumas partes do nosso Serviço. A menos que
              você tenha ajustado as configurações do seu navegador para recusar Cookies, nosso Serviço poderá usar
              Cookies.
              <br>
              Web Beacons: Certas seções do nosso Serviço e nossos e-mails podem conter pequenos arquivos eletrônicos
              conhecidos como web beacons (também chamados de clear gifs, pixel tags e single-pixel gifs) que permitem
              que a Empresa conte os usuários que visitaram essas páginas ou abriram um e-mail e para outras estatísticas
              relacionadas ao site.
              <br>
              Cookies podem ser "Persistentes" ou "de Sessão". Cookies Persistentes permanecem no seu computador pessoal
              ou dispositivo móvel quando você está offline, enquanto Cookies de Sessão são excluídos assim que você fecha
              o seu navegador da web. Saiba mais sobre cookies no artigo do site de Política de Privacidade Gratuita.
              <br>
              Nós utilizamos tanto Cookies de Sessão quanto Cookies Persistentes para os fins estabelecidos abaixo:
              <br>
              Cookies Necessários / Essenciais
              <br>
              Tipo: Cookies de Sessão
              <br>
              Administrado por: Nós
              <br>
              Finalidade: Esses Cookies são essenciais para fornecer a você serviços disponíveis por meio do Website e
              para permitir que você use algumas de suas funcionalidades.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
