{% extends 'base.html' %}
{% block title %}Termos e Condições de Uso do Website{% endblock %}
{% block extra_style %}
<style>
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #000000;
    background-color: #d3d3d3;
  }
  .nav-link{
    color: #000000;
  }
  .nav-link:hover{
    color: #555555;
  }
</style>
{% endblock %}
{% block content %}
  <section>
    <div class="container-lg px-5">
      <div class="row">
        <div class="title-warning roboto text-center mt-4 mb-2">
          <h3>Termos e Condições de Uso do Website</h3>
        </div>
        <div class="col-4">
          <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
            <nav class="nav nav-pills flex-column">
              <a class="nav-link" href="#list-item-1">Termos</a>
              <a class="nav-link" href="#list-item-2">Licença de Uso</a>
              <a class="nav-link" href="#list-item-3">Aviso Legal</a>
              <a class="nav-link" href="#list-item-4">Links</a>
              <a class="nav-link" href="#list-item-5">Modificações nos Termos de Uso do Site</a>
              <a class="nav-link" href="#list-item-6">Pagamento e Doação</a>
              <a class="nav-link" href="#list-item-7">Contato e Devoluções</a>
            </nav>
          </nav>
        </div>
        <div class="col-8" style="height: 50vh; overflow-y: scroll">
          <div class="scrollspy-example" data-bs-spy="scroll" data-bs-target="#list-example" data-bs-offset="0">
            <h4 id="list-item-1">Termos</h4>
            <p>
              <i>Ultima atualização: 22/08/2023</i><br>
              Ao acessar este Website, disponível em www.micaelmuniz.com/shop, sobe o nome de You Shop, você concorda em ser vinculado por estes
              Termos e
              Condições de Uso do Website. Este site foi criado como parte de um projeto demonstrativo e está sob a
              licença MIT,
              o que significa que não há restrições de direitos autorais em relação ao conteúdo. Este projeto tem como
              finalidade demonstrar habilidades e conhecimentos no desenvolvimento web e não tem intenção de
              comercializar ou
              reivindicar direitos autorais sobre o conteúdo.
            </p>
            <h4 id="list-item-2">Licença de Uso</h4>
            <p>Você tem permissão para baixar temporariamente uma cópia dos materiais do Website <a href="https://www.micaelmuniz.com/shop">You Shop</a>
              apenas para
              visualização pessoal e transitória, incluindo fins comerciais. No entanto, você deve estar ciente de que o
              conteúdo carregado por usuários pode conter direitos autorais. Caso você seja detentor de direitos
              autorais de
              algum conteúdo presente neste site e deseje que ele seja removido, por favor, entre em contato através do
              email
              fornecido abaixo.</p>
            <h4 id="list-item-3">Aviso Legal</h4>
            <p>Todos os materiais no Website <a href="https://www.micaelmuniz.com/shop">You Shop</a> são fornecidos "como estão". Este site é um projeto
              demonstrativo e não faz quaisquer garantias sobre a precisão ou confiabilidade do uso dos materiais em seu
              Website. Lembre-se de que o conteúdo apresentado neste projeto não representa uma loja real, e todos os
              produtos e
              informações são fictícios e utilizados apenas para fins de demonstração.</p>
            <h4 id="list-item-4">Links</h4>
            <p><a href="https://www.micaelmuniz.com/shop">You Shop</a> não revisou todos os sites vinculados ao seu Website e não é responsável pelo
              conteúdo de
              qualquer site vinculado. A presença de qualquer link não implica endosso por parte de <a href="https://www.micaelmuniz.com/shop">You Shop</a>
              do site.
              O uso de qualquer site vinculado é por conta e risco do usuário.</p>
            <h4 id="list-item-5">Modificações nos Termos de Uso do Site</h4>
            <p><a href="https://www.micaelmuniz.com/shop">You Shop</a> pode revisar estes Termos de Uso para seu Website a qualquer momento, sem aviso
              prévio. Ao
              usar este Website, você concorda em ficar vinculado à versão atual destes Termos e Condições de Uso.</p>
            <h4 id="list-item-6">Pagamento e Doação</h4>
            <p>O sistema de pagamento apresentado neste site é simulado e não representa transações reais. Qualquer
              compra
              realizada terá o valor fixo de 1 real e servirá apenas para testar o processo de pagamento e aprovação.
              Este valor
              não se destina à compra de produtos reais, mas sim como uma doação voluntária para o autor do projeto, a
              fim de
              verificar o funcionamento do sistema de pagamento. Caso deseje, você pode entrar em contato através do
              email
              fornecido abaixo para solicitar o reembolso do valor pago, que será tratado como uma doação
              voluntária.</p>
            <h4 id="list-item-7">Contato e Devoluções</h4>
            <p> Para qualquer dúvida, solicitação de remoção de conteúdo com direitos autorais, reembolso de pagamentos
              simulados
              ou outras informações relacionadas a este projeto, você pode entrar em contato através do email:
              <a href="mailto:contato@micaelmuniz.com">contato@micaelmuniz.com</a>.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}