{% extends 'base.html' %}

{% block title %}Registrar{% endblock %}

{% block content %}
  <section>
    <div class="container-lg" style="max-width: 40%;">
      <!-- TODO: Add a link to resend the email -->
      <!-- todo: usar flask-wtf para o form -->
      <form action="{{ url_for("auth.register_validation_post") }}" method="post">
        <h1 class="mb-2 ms-2 mt-3 fcs-12 roboto fw-bold">Confirmar email</h1>

        <div class="form-floating">
          <input type="password" class="form-control" id="code" name="code" placeholder="Password">
          <label for="code">Codigo de confirmação</label>
        </div>
        <button class="btn btn-dark w-100 py-2 mt-2" type="submit">Confirmar conta</button>
      </form>
      <!-- Error messages start -->
      <div class="row d-flex mt-2">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              {% if category == 'success' %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                  <i class="bi bi-check-circle-fill"></i> <strong>Sucesso!</strong> {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% elif category == 'warning' %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                  <i class="bi bi-exclamation-circle-fill"></i> <strong>Atenção: </strong> {{ message }}
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
              {% endif %}
            {% endfor %}
          {% endif %}
        {% endwith %}
      </div>
      <!-- Error messages end -->
    </div>
  </section>
{% endblock %}